<body class="body" style="margin-top: 20rem;">
    <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="Top Rated" [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
    <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
    
</body>     